table {
    border-spacing: 30px;
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}
th, td {
    border-color: #96D4D4;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}